[Unit]
Description=Football Team Backend (Blue - Port 8080)
After=network.target

[Service]
User=root
WorkingDirectory=/opt/football-team
ExecStart=/usr/bin/java -Xms128m -Xmx512m -Dspring.profiles.active=dev -jar /opt/football-team/football-team.jar --server.port=8080
EnvironmentFile=/opt/football-team/env
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/football-team/blue.log
StandardError=append:/var/log/football-team/blue-error.log

[Install]
WantedBy=multi-user.target
